{% extends "base.html" %}


{% block body %}
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active" href="#"> Your All projects </a>
			{% for i in data %}
			<a class="list-group-item" href="{% url 'storeWork' i.id %}"> {{i.project_title}} </a>
			{% endfor %}
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
			<span>Order Date: 16 December 2018</span>
		</header>
		<div class="card-body">
			<div class="row"> 


			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		<div class="table-responsive">
		<table class="table table-hover">
			{% for i in data %}
			<tr>
				<td width="65">
				</td>
				<td> 
					<p class="title mb-0">{{i.project_title}} </p>
				</td>
				<td> project <br>{{i.category}}</td>
				<td width="250"> <a href="{% url 'storeWork' i.id %}" class="btn btn-outline-primary">Add task</a> <a href="{% url 'show_works' i.id %}" class="btn btn-light"> Details </a> 
				
				
				</td>
			</tr>			
			{% endfor %}
		</table>
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
{% endblock%}