{% extends 'base.html' %}
{% block title %}
  ShowBook Page
{% endblock %}
{% block body %}
  
  <div class="'width:80%;margin: auto;">
    <h1 style="width:30%;margin:10px auto;" class="bg-primary rounded text-white text-center" >Completed Tasks</h1>
    {% if data %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data %}
        <tr>
          <td>{{i.title}}</td>
          <td>{{i.description}}</td>
          <td>completed</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h3>No data available</h3>
    {% endif %}
  </div>
{% endblock %}