{% extends 'base.html' %}
{% block title %}
  ShowBook Page
{% endblock %}
{% block body %}
  
  <div style="width:90%;margin: auto;">
    <h1 style="width:30%;margin:10px auto;" class="bg-primary rounded text-white text-center" >Show Tasks</h1>
    {% if tasks %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Priority</th>
          <th scope="col">Task Add Date</th>
          <th scope="col">Task Complete Date</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.date_created }}</td>
            <td>{{ task.task_complete_date }}</td>
            <td>
                {% if not task.status %}
                    incompleted
                {% else %}
                    completed
                {% endif %}
            </td>
            <td>
              <a href="" class="btn btn-warning btn-sm">Edit</a>
              <a href="" class="btn btn-danger btn-sm">Delete</a>
              <a href="" class="btn btn-success btn-sm">Complete</a>
          </td>
          
        </tr>
    {% endfor %}
    
    
      </tbody>
    </table>
    {% else %}
    <h3>No data available</h3>
    {% endif %}
  </div>
{% endblock %}
  
 